@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

h1 {
    color: #1e77b7 !important;
}

header .decoration {
    display: none;
}

.sidebar .sidebar-content {
    background: #ecf9ff;
}

.btn-outline-secondary:not(:disabled):not(.disabled):hover {
	background-color: #fff;
	border-color: #1e77b7;
	color: #1e77b7;
}

.btn-outline-secondary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba(0, 152, 218, 0.3);
    border-color: #1e77b7;
	color: #1e77b7;
}

.reportview-container .fullScreenFrame .image-container img {
    width: 220px !important;
}

.fullScreenFrame .image-container.stImage {
    position: relative;
    margin-bottom: 50px;
}

.sidebar .block-container>div {
    width: 100% !important;
}

.fullScreenFrame .image-container.stImage:before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: calc(100% + 2rem);
    left: -1rem;
    bottom: 0;
    background: #ffffff;
}

.reportview-container .sidebar .sidebar-content .image-container {
    margin: 0;
}

.stNumberInput label,
.sidebar .sidebar-content h3,
.reportview-container .sidebar .sidebar-content .element-container label,
.sidebar .sidebar-content h1 {
	font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 22px;
    background: none;
    color: #1E77B7 !important;
    margin-bottom: 0 !important;
}

.stSelectbox label {
    display: block;
}

.sidebar .sidebar-content .stMarkdown {
    padding-top: 15px;
}

hr {
    margin-top: 5px !important;
}


.sidebar .sidebar-content h1 {
    margin: 35px 0 0;
    padding: 0;
}

.sidebar .sidebar-content .stSelectbox {
    margin: 15px 0 50px;
}

.sidebar .sidebar-content {
	padding: 3rem 1rem;
}

.sidebar .sidebar-content .markdown-text-container.stMarkdown p {
    margin: 0 0 6px !important;
    color: #1E77B7 !important;
}

.stSelectbox .st-at {
    box-shadow: 0px 4px 10px rgba(0, 152, 218, 0.3);
    border-radius: 2px;
    height: 40px;
    background: #ffffff;
}
.stMultiSelect .st-at.st-f8,
.stSelectbox .st-at.st-f8,
.stSelectbox .st-at.st-f7,
.stMultiSelect .st-at.st-f7,
.stSelectbox .st-at.st-ea,
.stMultiSelect .st-at.st-ea {
    border-color: #1e77b7;
}

.stMultiSelect>div>div {
    box-shadow: 0px 4px 10px rgba(0, 152, 218, 0.3);
}

.stMultiSelect>div>div>div {
    box-shadow: none;
}

.dropdownListItem.st-d6,
.dropdownListItem.st-e5,
.dropdownListItem.st-at,
.dropdownListItem.st-d8,
.dropdownListItem.st-d9 {
	background-color: #ecf9ff;
}

.stSelectbox .st-at.st-d8,
.stSelectbox .st-at.st-d9 {
    background: #ffffff;
    border-color: #ffffff;
}

.reportview-container .markdown-text-container {
	margin-bottom: 0;
}

.stSelectbox>div>div>div,
.stSelectbox .st-at .st-d8,
.stSelectbox .st-at .st-d5,
.stSelectbox .st-at .st-c0 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.stSelectbox>div>div>div>div {
    padding: 0 !important;
}

.stSelectbox .st-at .st-d8 div,
.stSelectbox .st-at .st-d5 div,
.stSelectbox .st-at .st-c0 div {
    padding: 0;
}

.stMultiSelect div,
.stSelectbox div,
.stMultiSelect .st-d9,
.stSelectbox .st-at .st-c3 {
    font-size: 14px !important;
    line-height: 26px !important;
    color: #536B76 !important;
}

.stSelectbox .st-at svg {
    fill: #BAD0DA;
    height: 20px;
    width: 20px;
    padding: 0 !important;
}

.reportview-container .sidebar .sidebar-content .element-container {
    margin-bottom: 0;
    padding: 0;
}

.stMultiSelect span {
    background: #1e77b7;
    color: #ffffff;
}

.stMultiSelect span span + span:hover {
    background: #5334AE;
    color: #ffffff;
}

.stMultiSelect .st-ae .st-e9 {
    border: none;
}

.stMultiSelect .st-d2 {
    width: 21px;
    height: 21px;
    fill: #BAD0DA;
}

.stMultiSelect .st-ae .st-bc {
    line-height: 18px;
}

.sidebar .sidebar-content .stCheckbox {
    margin-top: 10px;
}

.sidebar .sidebar-content .stCheckbox span {
    background-color: #5334AE;
}

.sidebar .sidebar-content .stCheckbox span[aria-checked="false"] {
    border-color: #5334AE;
}

.streamlit-table .table {
	width: 100%;
	background: #ffffff;	
}

.sidebar .sidebar-content .stMultiSelect {
    padding-bottom: 30px;
}

.streamlit-table .table tbody {
    border: 1px solid #E7EDF0;
}

.streamlit-table .table tbody tr td {
    height: 50px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color:#536B76;
    border-bottom: 1px solid #E7EDF0;
    text-align: left;
}

.reportview-container .streamlit-table {
    padding: 0;
}

.streamlit-table .table tr:nth-child(odd) {
    box-shadow: inset 0px 0px 35px rgba(0, 152, 218, 0.05);
}

.streamlit-table .table tr:nth-child(even) {
    box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.05);
}

.streamlit-table .table thead tr {
    background: #3E4095;
    box-shadow: 0px 0px 35px rgba(0, 152, 218, 0.15);
}

.streamlit-table .table thead tr th {
    vertical-align: middle;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    height: 30px;
    padding: 10px;
    text-align: left;
    min-width: 103px;
}
.streamlit-table .table tbody tr th,
.streamlit-table .table thead tr th:first-child {
    display: none;
}

.stSlider .st-at {
    background-color: #5334ae;
}

section.main h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
	font-family: 'Montserrat', sans-serif !important;
}

section.main h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

section.main h3 {
    padding: 0;
    margin: 25px 0 0 !important;
}

section.main h3,
section.main .markdown-text-container.stMarkdown h2,
section.main .stSelectbox label {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px;   
    color: #1E77B7 !important;
}

.reportview-container .element-container {
    margin: 0;
    padding-bottom: 1rem;
}

.scroll.entities {
    border: 1px solid #E7EDF0;
    border-radius: 3px;
    text-align: justify;
}

.scroll.entities span {    
    font-size: 14px;
    line-height: 24px;
    color: #536B76;
    font-family: 'Montserrat', sans-serif !important;
}
.entity-wrapper {
    border-radius: 3px;
    padding: 1px;
    margin: 0 2px 5px 2px;
}

.scroll.entities span .entity-type {
    font-weight: 500;
    color: #ffffff;
    display: block;
    padding: 3px 5px;
}

.scroll.entities span .entity-name {
	border-radius: 3px;
	padding: 2px 5px;
	display: block;
	margin: 3px 2px;
}

.reportview-container .main footer {
    width: 100%;
    text-align: center;
}

#MainMenu .open-iconic {
    color: #1E77B7;
}

header > .toolbar {
	right: 2rem;
}

.btn#MainMenuButton {
    line-height: 1.8;
    padding: .375rem 10px;
}

.btn#MainMenuButton .open-iconic {
    font-size: 18px;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #536B76;
	text-decoration: none;
	background-color: #ecf9ff;
}

.dropdown-item {
    color: #536B76;
}

#MainMenu div.dropdown-menu {
    border: 1px solid #E7EDF0;
}

.reportview-container .dataframe.row-header {
    height: 30px !important;
}

div.scroll {
    line-height: 24px;
}

.markdown-text-container.stMarkdown ol {
    margin: 0;
}

.stNumberInput div.input-container div.controls .control:focus, .stNumberInput div.input-container div.controls .control:hover {
	background-color: #5334ae;
}

.stRadio label div {
    width: 15px;
    height: 15px;
    font-size: 15px !important;
}

.stRadio label div+input+div {
    width: auto;
    height: auto;
    background: none;
}

.stRadio label div>div {
    width: 5px;
    height: 5px;
}

.stRadio .st-bi {
	background-color: #5334ae;
}